*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 15);
    cursor: pointer;
    margin: 100px auto;
    border: 1px solid ;
}
th{
    background-color: #dec3c3;
    text-align: left;
    color: black;
    padding: 5px;
    border: 1px solid #ddd;
}
th :nth-child(even){
    background-color: #f3f3f3;
}
.search{
    display: flex;
    justify-content: center;
}

